.center {
    margin: auto;
    width: 50%;
  }
  
  .actions {
    margin-top: 0.2rem;
    text-align: right;
  }

  .btn {
    position: relative;
    top: -2.1rem;
    left: 2.4rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    float: right;
  }  
  
  .container {
    margin: 0.5rem;
    background-color: #f8f9fa;
    margin-top: 2rem;
    padding: 3rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }